# Bytecode
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Build artifacts
build/
dist/
logs/
*.egg-info/

# Pytest cache
.coverage
.pytest_cache/

# Local config overrides
config.local.json
